<h2> Assignment: On-Line Scheduler </h2>
<p>
    
Functional requirements
You are required to build an On-Line Scheduler application. Application allows creating user's personal account (first name, last name, login, password). After account creation user can log in into the system and create one or more scheduled dummy jobs. Each job has a command (just a text field – not real execution) and times at which command shall be executed. Capabilities of a scheduler shall be similar to basic capabilities of unix cron – see https://en.wikipedia.org/wiki/Cron - section "Overview" - i.e. allow to specify minute, hour, day of month and day of a week. Additionally it should allow to specify either step values ("/") or frequency. User can activate and deactivate jobs. Each "execution" is logged to a database and user can view last N log entries. Deactivated jobs can be deleted.


</p>
