<h2>Create a job</h2>

<div class="input-group">
  <span class="input-group-addon"></span>
  <input type="text" class="form-control" placeholder="Job name here" ng-model="jobName">
  <span class="input-group-addon"></span>
</div>

<div class="input-group">
  <span class="input-group-addon"></span>
  <input type="text" class="form-control" placeholder="Job description here" ng-model="jobDesc">
  <span class="input-group-addon"></span>
</div>

<div class="input-group">
  <span class="input-group-addon"></span>
  <input type="text" class="form-control" placeholder="Job command here" ng-model="jobCommand">
  <span class="input-group-addon"></span>
</div>

<button type="button" class="btn btn-default" ng-click="createJobSubmit();">Create Job!</button>

