<!--<button ng-click="logout();" ng-hide="currentLoggedUser == undefined">Logout</button>-->
<button type="button" class="btn btn-primary"  ng-hide="currentLoggedUser == undefined" ng-click="logout();">Logout</button>

<!-- Modal buttons here for login and create user -->
<div class="btn-group" role="group" aria-label="..." ng-hide="currentLoggedUser != undefined">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Login</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg1">Create User</button>
</div>
<!-- Modal buttons here for login and create user -->


<!-- Login form here -->
<div ng-hide="currentLoggedUser != undefined">
  <!-- Large modal -->
  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Login</button>-->

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

          <div class="span3 well well-large offset4">
          <h2>Login</h2>
          <div class="form" >
            Username: <input class="form-control" type="text" ng-model="userName" /><span><br>
            Password  : <input class="form-control" type="password" ng-model="password" /><span><br>
                <!--<input type="submit" value="Login" />-->
                <button class="form-control" ng-click="login();">Login</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- Login form here -->

<span>
<!-- Create User form here -->
<div ng-hide="currentLoggedUser != undefined">
  <!-- Large modal -->
  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg1">Create User</button>-->
  <div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

          <div class="span3 well well-large offset4">
          <h2>Create User</h2>
          <div class="form">
            Username     : <input class="form-control" type="text" ng-model="newUserName" /><span><br>
            Password     : <input class="form-control" type="password" ng-model="newPassword" /><span><br>
            Re-Password  : <input class="form-control" type="password" ng-model="newRepassword" /><span><br>
                <button class="form-control" ng-click="createUser();">Create</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</span>
<!-- Create User form here -->


<div class="jumbotron">
  <h2 class="lead">
    Welcome to <strong>Online Job Scheduler</strong>
  </h2>
</div>

<div ng-hide="currentLoggedUser == undefined">
  
<h3>Your Scheduled Jobs</h3>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="jobSched in currentUserJobSchedules">
    <button class="glyphicon glyphicon-trash" ng-click="removeJobSchedule(jobSched);"></button>

<!-- For Schedule Execution Details Button -->
    <!-- Button trigger modal -->
    <button type="button" class="glyphicon glyphicon-th-list" data-toggle="modal" data-target="#myModal" ng-click="getJobScheduleLog(jobSched);"></button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Job Schedule Execution Details</h4>
          </div>
          <div class="modal-body">

            <h2>Details</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Task ID</th>
                  <th>Task Name</th>
                  <th>Execution Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="log in jobScheduleLogs">
                  <td>{{ log.taskId }}</td>
                  <td>{{ log.taskName }}</td>
                  <td>{{ log.executionDate }}</td>
                  <td>{{ log.executionStatus }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
<!-- For Schedule Execution Details Button -->


<!-- For Schedule Details Button -->
    <!-- Button trigger modal -->
    <button type="button" class="glyphicon glyphicon-info-sign"  data-toggle="modal" data-target="#myModal1" ng-click="setSelectedJobScheduleForDetails(jobSched);"></button>
    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Job Schedule Details</h4>
          </div>
          <div class="modal-body">

            <h2>Details</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>CRON Expression</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ selectedJobScheduleForDetails.id }}</td>
                  <td>{{ selectedJobScheduleForDetails.name }}</td>
                  <td>{{ selectedJobScheduleForDetails.cronExpression }}</td>
                  <td>{{ selectedJobScheduleForDetails.active }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
<!-- For Schedule Details Button -->

<!-- Enable / Disable schedule buttons here  -->
    <button type="button" class="btn btn-danger" ng-show="jobSched.active" ng-click="changeJobScheduleStatus(jobSched);">Disable</button>
    <button type="button" class="btn btn-success" ng-show="!jobSched.active" ng-click="changeJobScheduleStatus(jobSched);">Enable</button>
<!-- Enable / Disable schedule buttons here  -->

    <!--<span ><button class="glyphicon glyphicon-trash"></button></span>-->
    <strong>{{ jobSched.name }}</strong>

  </li>


</ul>


  <h3>Your Jobs</h3>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="job in currentUserJobs">
      <button class="glyphicon glyphicon-trash" ng-click="removeJob(job);"></button>
      <!--<span ><button class="glyphicon glyphicon-trash"></button></span>-->

    <!-- For Details Button -->
    <!-- Button trigger modal -->
    <button type="button" class="glyphicon glyphicon-info-sign"  data-toggle="modal" data-target="#myModal2" ng-click="setSelectedJobForDetails(job);"></button>
    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Job Details</h4>
          </div>
          <div class="modal-body">

            <h2>Details</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ selectedJobForDetails.id }}</td>
                  <td>{{ selectedJobForDetails.name }}</td>
                  <td>{{ selectedJobForDetails.description }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <!-- For Details Button -->
      <strong>{{ job.name }}</strong>
    </li>
  </ul>
</div>

<div class="jumbotron" style="background-color:white"  ng-hide="currentLoggedUser == undefined">
<a href="/create-job" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a Job</a>
<a href="/create-jobschedule" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create a Job Schedule</a>
</div>

</div>

