<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="../css/account_page_styles.css">
</head>
<body ng-app="myApp" layout="row" class="icondemoFontIconsWithLigatures" ng-controller="MyController" ng-cloak>
  <!--
    Your HTML content here
  -->
	<!-- <h1>Welcome to Account Page</h1>
	<div flex="30" layout="column" class="boxWithHeight"  layout-padding>
		<section flex="40">
			<md-content>
				<md-button ng-click="openLeftMenu()">
					MENU
				</md-button>
			</md-content>
		</section>
	</div> -->

	<div id="divMenu" layout="column" class="boxWithHeight"  layout-padding>
		<section>
			<h1>Welcome to Account Page</h1>
		</section>
		<section>
				<h3>Operations</h3>
		</section>
		<section>
			<ul  style="list-style-type:none">
					<!-- <li ng-repeat="navLink in navLinks" > <a  ng-click="selectedMenuItem = navLink;" >{{navLink.LinkText}}</a></li> -->
					<li ng-repeat="navLink in navLinks" > <button  ng-click="linkClicked(navLink);" >{{navLink.LinkText}}</button></li>
			</ul>
		</section>
	</div>



	<div layout="column" class="boxWithHeight"  layout-padding>
		<!-- <section flex="10">

		</section>
		<section>
				<h2>Subscription List</h2>
				<p>Selected Item: {{ selectedMenuItem.Title }}</p>
			</section> -->
			<div id="divSubscribeCurrency" ng-show="selectedMenuItem.MenuIndex == 1;">
				<section flex="10"></section>
				<!-- Here I use bootstrap ui for auto-complete-->
				<section ng-controller="ctrlSubsNotic">
						<h2>Subscribe a  Currency</h2>
						<select id="selectNotPeriod" ng-model="selectedNoticPeriod">
							<option value="Daily">Daily</option>
							<option value="Weekly">Weekly</option>
							<option value="Monthly">Monthly</option>
						</select>

						<input type="text"
							ng-model="selectedSrcCurrency" placeholder="Source Currency Code"
							uib-typeahead="currency for currency in allCurrencyCodes  | filter:$viewValue | limitTo:8"
							typeahead-loading="loadingLocations"
							typeahead-no-results="noResults0" class="form-control" /> <i
							ng-show="loadingSrc" class="glyphicon glyphicon-refresh"></i>
						<div ng-show="noResults0">
							<i class="glyphicon glyphicon-remove"></i> No Results Found
						</div>

						<input type="text" ng-model="selectedDstCurrency"
							placeholder="Dest. Currency Code" typeahead-min-length="1"
							uib-typeahead="currency for currency in allCurrencyCodes  | filter:$viewValue | limitTo:8"
							typeahead-loading="loadingDst" typeahead-no-results="noResults1"
							class="form-control" />
						<div ng-show="noResults1">
							<i class="glyphicon glyphicon-remove"></i> No Results Found
						</div>

						<p>Selected Source Currency: <b>{{ selectedSrcCurrency }}</b></p>
						<p>Selected Destination Currency: <b>{{ selectedDstCurrency }}</b></p>
						<p>Notification Period: <b>{{ selectedNoticPeriod }}</b></p>

						<button ng-click="createNotic();">Submit</button>
					</section>
			</div>

			<div id="divUnsubscribeCurrency" ng-show="selectedMenuItem.MenuIndex == 2;">
				<section flex="10"></section>
				<section>
						<h2>Unsubscribe a  Currency</h2>
						<p>Selected Item: {{ selectedMenuItem.Title }}</p>
					</section>
			</div>
			<div id="divSubscribeCurrencyThr" ng-show="selectedMenuItem.MenuIndex == 3;">
				<section flex="10"></section>
				<section>
						<h2>Subscribe Currency Threshold Notification</h2>
						<p>Selected Item: {{ selectedMenuItem.Title }}</p>
					</section>
			</div>
			<div id="divUnsubscribeCurrencyThr" ng-show="selectedMenuItem.MenuIndex == 4;">
				<section flex="10"></section>
				<section>
						<h2>Unsubscribe Currency Threshold Notification</h2>
						<p>Selected Item: {{ selectedMenuItem.Title }}</p>
					</section>
			</div>
	</div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
	<script src="../js/ui-bootstrap-tpls-1.1.2.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
	<script src="../js/account_page.js"></script>
  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */
    // angular.module('BlankApp', ['ngMaterial']);

// 		var app = angular.module('myApp', ['ngMaterial']);
// 		app.controller('MyController', function($scope, $mdSidenav) {
//   			$scope.openLeftMenu = function() {
//     		$mdSidenav('left').toggle();
//   		};
// });

  </script>
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
