
<!--<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>-->

<form>
  Start Date:
  <input type="date" name="sDate" ng-model='voteTableStartDate' required>
    End Date:
  <input type="date" name="eDate" ng-model='voteTableEndDate' required>
</form>

<!-- table name here-->
<div class="input-group">
  <input type="text" class="form-control" aria-label="..." placeholder="Table name here." ng-model="tableName">
    <div class="input-group-btn">
    <!-- Buttons -->
    <button type="button" class="btn btn-default" ng-click="chosenTableName = tableName; tableName = '';">Set Table Name</button>
  </div>
</div>

<!-- Table items here -->
<div class="input-group">
  <input type="text" class="form-control" aria-label="..." ng-model="itemText" placeholder="Add a new vote item by pressing '+' button.">
  <div class="input-group-btn">
    <!-- Buttons -->
    <button type="button" class="btn btn-default" ng-click="addItemToTheTable();">+</button>
  </div>
</div>

<!-- table content will be filled here-->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>{{ chosenTableName }}</h2></div>
  <!--<div class="panel-body">
    
  </div>-->

  <!-- List group -->
  <ul class="list-group">
    <li ng-repeat="item in tableItems track by $index" class="list-group-item">{{ item }}</li>
  </ul>
</div>


<button type="button" class="btn btn-default" ng-click="submitCreateTable();">Create Table!</button>
<button type="button" class="btn btn-default" ng-click="resetValues();">Reset values</button>

<div class="panel panel-default">
  <div class="panel-body" ng-bind="currentTableObject.voteTableName">
   <h2>{{ currentTableObject.voteTableName }} </h2>
  </div>
  <div class="panel-footer">ID : {{ currentTableObject.tableID }}</div>
  <div class="panel-footer">AuthKey : {{ currentTableObject.authKey }}</div>
  <div class="panel-footer">URL : {{ currentTableObject.tableURL }}</div>
</div>

