
<div class="row" ng-controller="DeleteVotetableCtrl">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Table ID here" ng-model="tableID">
      <input type="text" class="form-control" placeholder="AuthKey here" ng-model="authKey">
      <span class="input-group-btn">
        
      </span>
      <button class="btn btn-default" type="button" ng-click="submitDeletion()">Submit!</button>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
