<div class="jumbotron">
  <h2 class="lead">
      Welcome to <strong>Votemizer</strong>
  </h2>
</div>

<!--<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
      Choose an action!
      <span class="caret"></span>
    </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/create-votetable">Create Vote Table</a></li>
    <li><a href="#">Delete Vote Table</a></li>
  </ul>-->

<div class="jumbotron" style="background-color:white">
  <a href="/create-votetable" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create Vote Table</a>
  <a href="/delete-votetable" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete Vote Table</a>
</div>

</div>

