<!DOCTYPE html>
<html ng-app="mainApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<body >

<div ng-controller="mainCtrl">
  <!--  USAGE OF USER CREATED DIRECTIVE -->
  <div my-title="newone"></div>
  <my-title></my-title>
  <name first="Joe" last="Doe"></name>
  <!--  data- prefix is used for HTML5 standard -->
  <!-- <name data-first="Joe" data-last="Doe"></name> -->
  <h1 namer="" data-first="Joe" data-last="Doe"></h1>
  <!--  USAGE OF USER CREATED DIRECTIVE -->

  <!-- USAGE OF TABLE WITH ANGULARJS -->
  <div class="container" ng-controller="tableController">
    <!--  if we want a general seacrh inside table, then seacrh can be used for model instead of search.torrent_name -->
    <input type="text" ng-model="search.torrent_name" placeholder="Type to filter by Torrent Name" />
    <table id="tblTorrents" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Torrent Name</th>
        <th>Link</th>
        <th>Parent Link</th>
        <th>IMDB Calculated Ratio</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in movieData | filter: search">
        <td>{{ item.torrent_name }}</td>
        <td><a href="{{item.pages_link}}">{{ item.pages_link}}</a></td>
        <td><a href="{{ item.parent_link }}">{{ item.parent_link }}</a></td>
        <td>{{ item.imdb_rating }}</td>
        <td>{{ item.size }}</td>
      </tr>
    </tbody>
    </table>
  </div>
  <!-- USAGE OF TABLE WITH ANGULARJS -->

  <!-- USAGE OF WATCH (LISTENER) -->
  <div ng-controller="ctlLsnr">
    <input type="text" ng-model="myVal" placeholder="type something and check the console." />
  </div>
  <!-- USAGE OF WATCH (LISTENER) -->

</div>

</body>

<script>

  var app = angular.module('mainApp', [])
  .controller('mainCtrl',["$scope", "mainService", function($scope, mainService){
    $scope.titleText = "New title here!";

    // --- USAGE OF SERVICE
    $scope.userName = "x";
    $scope.password = "y";
    // for main service
    mainService.login($scope.userName, $scope.password)
    .then(
      function(token) {
        $scope.token = token;
        // $http.defaults.headers.common.Authorization = 'Bearer ' + token;
        // sessionStorage.setItem('token', token);
        // sessionStorage.setItem('currentUser', $scope.userName);
      },
      function(error){
        $scope.error = error
        $scope.userName = '';
        $scope.password = '';
    });
    // --- USAGE OF SERVICE



  }])
  .controller('tableController', ["$scope", function($scope){
      $scope.movieData = [
        {
          "torrent_name": "Master",
          "pages_link": "link1",
          "parent_link": "parent_link1",
          "imdb_rating": "rating1",
          "size": "size1"
        },
        {
          "torrent_name": "Disaster",
          "pages_link": "link2",
          "parent_link": "parent_link2",
          "imdb_rating": "rating2",
          "size": "size2"
        }
      ]
  }])
  .controller('ctlLsnr', ["$scope", function($scope){
      $scope.myVal = "";
      $scope.alertUser = function(n, o){
          console.log("New value : " + n + ", Old Value : " + o);
      }

      // $watch can be used as value listener, it listens the values inside the scope
      $scope.$watch('myVal', function(newVal, oldVal){
        if (newVal != oldVal ){
            $scope.alertUser(newVal, oldVal);
        }
      }, true /* true is used to deeper value check */);

  }])
  .directive('myTitle', function(){
    return {
      // enables usage of scope variables
      scope: true,
      // to disable scope variables
      // scope: {},
      // restricts usage inside an element, like <div my-title="newone"></div>
      // restrict: 'E',
      template: '<h1>{{ titleText }}</h1>',
      // element stores current DOM element
      link: function(scope, element, attrs){
        element.bind('click', function(event){
          // event stores event object
          console.log(event);
        })
      }
    }
  })
  .directive('name', function(){
    return {
      // also used to prevent scope overwrite for multiple usages of the directive
      scope: true,
      // it means that it will be used as an element
      restrict: 'E',
      // element stores current DOM element
      link: function(scope, element, attrs){
          scope.fullName = attrs.first + " " + attrs.last;
      },
      // it replaces the element with filled values
      replace: true,
      template: '<h1>{{ fullName }}</h1>'
    }
  })
  .directive('namer', function(){
    return {
      // also used to prevent scope overwrite for multiple usages of the directive
      scope: true,
      // it means that it will be used as an attribute
      // and C is used for class, inside the element it will be class="namer" for the class
      restrict: 'A',
      // element stores current DOM element
      link: function(scope, element, attrs){
          scope.fullName = attrs.first + " " + attrs.last;
      },
      // it replaces the element with filled values
      // replace: true,
      template: '{{fullName}}'
    }
  })
  .service('mainService', function($http) {
  	return {
  		login : function(username, pass) {
  			return $http.post('/user/login', {name: username, password: pass}).then(function(response) {
  				return response.data.token;
  			});
  		},

  		hasRole : function(role) {
  			return $http.get('/api/role/' + role).then(function(response){
  				console.log(response);
  				return response.data;
  			});
  		}
  	};
  })


</script>
</html>
